body {
    background-color: lightblue;
    margin: 0px;
    font-family:cursive;
    font-size: 16px;
  }
  
  h1 {
    color: navy;
    margin-left:20px;
  }
  
  .container{
    text-align: center;
    
    padding: 10px;
    padding-top:20px
  }
  