body{
    background-color: pink;
    
}



/* DOwnload ka muna live share */
/* TAs sa baba meron yan lalabas na lIVE SHARE, PINDOTIN MO TAS MATIC MAY LINK MA COCOPY YAN
tAS SEND MO SAKIN
ANONG REPO TO 
*/
/* YAN TAMA YAN, sulat kalang , send mo dn link mo sakin */